/.idea/.gitignore
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/TerrMine.iml
/.idea/vcs.xml
/app(1).py
/world.trrm
/dist/TerrMine_install.exe
/dist/TerrMine.exe
/saves/
/commands/__pycache__/
